<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr/>
<p class="fadeIn">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta earum eligendi error ipsum nam nesciunt soluta unde! Aliquam consequatur nisi perferendis porro reprehenderit sint? Asperiores, doloribus eaque error et facere fugiat, harum ipsa laboriosam mollitia, odio quae quod reprehenderit ullam! A adipisci aperiam autem deleniti eligendi? Aliquid aperiam culpa enim ipsa labore perspiciatis quam repellat, sed? Distinctio enim eos illo, inventore ipsa itaque magnam necessitatibus nesciunt sint voluptas. Ab iste laudantium quas quasi quibusdam sed unde voluptate! At blanditiis commodi consectetur deserunt eius excepturi, exercitationem, illum maxime necessitatibus nesciunt officiis pariatur perferendis quas quo saepe sequi tempora temporibus velit voluptas.
</p>
